# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary & Archive files
*.log
*.tmp
*.zip